<app-menu></app-menu>

<div *ngIf="mostrarCarrusel">

<div id="carouselExampleIndicators" class="carousel slide carrusel-ajustado" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner sombra-carrusel">
    <div class="carousel-item active">
      <img src="img/logo_albanil.jpg" class="d-block w-100 img-carrusel" alt="logo_albanil">
    </div>
    <div class="carousel-item">
      <img src="img/logo_electricista.jpg" class="d-block w-100 img-carrusel" alt="logo_electricista">
    </div>
    <div class="carousel-item">
      <img src="img/logo_plomero.jpg" class="d-block w-100 img-carrusel" alt="logo_plomero">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle p-3" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle p-3" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
</div>
