.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  gap: 20px;
  padding: 20px;
  place-items: center;
}

.card-img-top{
width: 18rem;
height: 200px; 
}

.fav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  color: #bbb;
  transition: color 0.3s;
}

.fav-icon:hover {
  color: #ff4d4d;
}

.fav-icon.favorito {
  color: #e60023; /* rojo */
}