<div class="grid-container">
@for ( trabajador of trabajadores; track $index ) {
  <div class="card" style="width: 18rem;">
  <img src="{{ 'https://servilocalapi2.onrender.com/' + trabajador.foto_trabajador }}" class="card-img-top" alt="foto del trabajador" width="200">
  <div class="card-body">
    <h5 class="card-title">{{trabajador.nombre}}</h5>
    <p class="card-text">{{trabajador.descripcion_trabajo}}</p>
    <a href="#" class="btn btn-primary" [routerLink]="['/workers/information', trabajador.id_trabajador]">ir a id</a>
  </div>
</div>
}
</div>
